APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_LOCALE=id
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=13379
DB_DATABASE=portal_test
DB_USERNAME=portal_test
DB_PASSWORD=
MYSQL_TEST_ROOT_PASSWORD=
CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
BCRYPT_ROUNDS=4
